:root{
	--mainColor: #46344E;
	--secondaryColor: #382a3f;
	--mainText:#fff;
	--secondaryText: #eeeeee;
	--boderColor: #1d1520;
	--themeDotBorder:#fff;
	--previewBg:rgb(81, 90, 72, 0.8) ;
	--previewShadow: #2b202f;
	--submitBtn: #8534a3;
}